<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<%= form_with url: "/teams?search", method: :get do |form| %>
  <%= form.label :search, "Search Team by Name: " %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= form.submit "Search" %>
<% end %>

<h1>Premier League Teams</h1>

<a href="/teams/new"><button type="button">New Team</button></a>

<% @teams.each do |team| %>
   <h3><a href=<%= request.original_url + "/#{team.id}" %>><%= team.name %></a></h3>
   <p>Created at: <%= team.created_at %></p>
   <ul>
      <li><p>Premier League Position: <%= team.champ_position %></p></li>
      <li><p>On the Market: <%= team.hiring? %></p></li>
   </ul>
      <a href="/teams/<%= team.id %>/edit" class="action-link">Edit</a>
      <form action="/teams/<%= team.id %>" method="POST" style="display: inline-block;">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="action-link"/>
      </form>
      
   <br/>
<% end %>