<a href="/"><button type="button">Premier League Index</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<a href="/teams/<%= @team.id %>/edit"><button type="button">Edit Team</button></a>


<h1><%= @team.name %></h1>

<p>State: <%= @team.state %></p>
<p>Position: <%= @team.champ_position %></p>
<p>On the market: <%= @team.hiring_players %></p>

<p><a href="/teams/<%= @team.id %>/players">Players</a>: <%= @count %></p>

