<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<h1><%= @team.name %></h1>
<ul>
   <li><h3>State: <%= @team.state %></h3>
   <li><h3>Position: <%= @team.champ_position %></h3>
   <li><h3>On the Market: <%= @team.hiring? %></h3>
   <li><h3><a href="/teams/<%= @team.id %>/players">Number of Players</a>: <%= @count %></h3>
   <ul> 
      <% @team.players.each do |player| %>
         <l1><p><%= player.name %></p></li>
      <% end %>
   </ul>
</ul>
<a href="/teams/<%= @team.id %>/edit" class="action-link">Update Team</a>
<form action="/teams/<%= @team.id %>" method="POST" style="display: inline-block;">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="action-link"/>
</form>

