<a href="/teams">Team Index</a>

<h1><%= @team.name %></h1>

<p>State: <%= @team.state %></p>
<p>Position: <%= @team.champ_position %></p>
<p>On the market: <%= @team.hiring_players %></p>

<a href="/teams/<%= @team.id %>/players">Players</a>
