<a href="/teams"><button type="button">Team Index</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<a href="/teams/<%= @team.id %>/players/new"><button type="button">Create New Player</button></a>

<h1><%= @team.name %></h1>

<% @players.each do |player| %>
   <h3>Name: <%= link_to player.name, "/players/#{player.id}" %></h3>
   <p>Position: <%= player.position %></p>
   <p>Jersey Number: <%= player.jersey_number %></p>
   <p>Injuried: <%= player.injuried %></p><br/>
<% end %>

