<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<%= form_with url: "/players?search", method: :get do |form| %>
  <%= form.label :search, "Search Player by Name: " %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= form.submit "Search" %>
<% end %>

<h1>Players Index</h1>
<br/>

<% @players.each do |player| %>
   <h3><a href=<%= request.original_url + "/#{player.id}" %>><%= player.name %></a></h3>
    <p>Entry created: <%= player.created_at %><p>
    <ul>
        <li><p>Team: <%= player.team.name %></p></li>
        <li><p>Position: <%= player.position %></p></li>
        <li><p>Jersey Number: <%= player.jersey_number %></p></li>
        <li><p>Injuried: <%= player.injuried? %></p></li>
    </ul>
    <h4><a href=<%= request.original_url + "/#{player.id}/edit" %>>Edit <%= player.name %></a>
    <form action="/players/<%= player.id %>" method="POST" style="display: inline-block;">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="action-link"/>
    </form></h4>
    <br/>
<% end %>