<a href="/teams"><button type="button">Team Index</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>

<h1><%= @player.name %></h1>

<p>Position: <%= @player.position %></p>
<p>Jersey Number: <%= @player.jersey_number %></p>
<p>Injuried: <%= @player.injuried %></p>
<p>Team: <a href="/teams/<%= @player.team_id %>"><%= @player.team_id %></a></p>
