<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<h4><%= link_to "Sort Alphabetically", "/teams/#{@team.id}/players?sort=alpha" %></h4>
<%= form_with url: "/teams/#{@team.id}/players?sort=threshold", method: :get do |form| %>
  <%= form.label :selected_position, "Select Position:" %>
  <%= form.select :selected_position, options_for_select(@available_positions), prompt: "Select Position" %>

  <%= form.submit "Filter Players by Position" %>
<% end %>


<h1><%= @team.name %>'s Players</h1>
    <% @players.each do |player| %>
        <h3><a href="/players/<%= player.id%>"><%= player.name %></a></h3>
        <ul>
            <li><p>Position: <%= player.position %></p></li>
            <li><p>Jersey Number: <%= player.jersey_number %></p></li>
            <li><p>Injuried: <%= player.injuried? %></p></li>
        </ul>
    <% end %>
<h4><a href=<%= "players/new" %> title="Add Players to Team">Add Player to <%= @team.name %></a></h4>